* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
}
#navbar {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: end;
  background-color: #dd1c1a;
  height: 80px;
  align-items: center;
  border-bottom: #000 10px solid;
}

nav ul {
  display: flex;
  flex-direction: row;
}
nav ul li {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  padding: 25px 0;
  font-weight: bold;
}
a {
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover {
  font-size: 3rem;
}
#bienvenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; /*****************Important********************/
  background-image: linear-gradient(90deg, #ffffffd5, #e4e4e4),
    url(assets/WallpaperDog-743396.jpg);
  margin: 0;
}
#bienvenido h1 {
  font-size: 6rem;
  color: #000000;
}
#bienvenido p {
  font-size: 2rem;
  color: #000;
  font-style: italic;
}
h2 {
  text-align: center;
  margin: 50px;
  color: #534343;
  font-size: 3rem;
}

.questions {
  text-align: justify;
  padding-left: 25%;
}

li {
  text-align: justify;
  padding-left: 30%;
  list-style: none;
}

#rei {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 80px;
}

#respuestas {
  padding-top: 80px;
}

#imgs {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0px auto;
}

footer {
  background-image: linear-gradient(90deg, rgb(112, 5, 5), rgb(255, 0, 0));
  display: flex;
  justify-content: flex-end;
  border-top: 5px solid black;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
